<ion-header>
  <ion-toolbar>
    <ion-title>{{article.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  <ion-card>
    <ion-img [src]="article.urlToImage"> </ion-img>
      <ion-card-content>
        <ion-card-title> {{article.title}} </ion-card-title>
        <p>  {{article.description}} </p>
      </ion-card-content>
  </ion-card>
-->
  
  <ion-card>
    <img src="{{article.urlToImage}}" />
    <ion-card-header>
      <ion-card-subtitle>{{article.publishedAt}}</ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{article.description}}
    </ion-card-content>
  </ion-card>


</ion-content>
